
@font-face {
    font-family: 'LatoRegular';
    src: url('LatoRegular/LatoRegular.eot');
    src: url('LatoRegular/LatoRegular.eot') format('embedded-opentype'),
         url('LatoRegular/LatoRegular.woff2') format('woff2'),
         url('LatoRegular/LatoRegular.woff') format('woff'),
         url('LatoRegular/LatoRegular.ttf') format('truetype'),
         url('LatoRegular/LatoRegular.svg#LatoRegular') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Big Caslon';
    src: url('BigCaslon-Medium/BigCaslon-Medium.eot');
    src: url('BigCaslon-Medium/BigCaslon-Medium.eot?#iefix') format('embedded-opentype'),
        url('BigCaslon-Medium/BigCaslon-Medium.woff2') format('woff2'),
        url('BigCaslon-Medium/BigCaslon-Medium.woff') format('woff'),
        url('BigCaslon-Medium/BigCaslon-Medium.ttf') format('truetype'),
        url('BigCaslon-Medium/BigCaslon-Medium.svg#BigCaslon-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Didot';
    src: url('Didot-Medium/Didot-HTF-M96-Medium.eot');
    src: url('Didot-Medium/Didot-HTF-M96-Medium.eot?#iefix') format('embedded-opentype'),
        url('Didot-Medium/Didot-HTF-M96-Medium.woff2') format('woff2'),
        url('Didot-Medium/Didot-HTF-M96-Medium.woff') format('woff'),
        url('Didot-Medium/Didot-HTF-M96-Medium.ttf') format('truetype'),
        url('Didot-Medium/Didot-HTF-M96-Medium.svg#Didot-HTF-M96-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
