.contact-form-sec{
	padding: 150px 0 110px;
	position: relative;
	overflow: hidden;
}
.contact-form-sec:before{
	content: "";
	position: absolute;
	top: 99%;
	left: 0;
	background: #B78454;
	height: 10px;
	width: 75%;
}
.circle-contact-page{
	position: absolute;
	bottom: 330px;
	left: 0;
}

.contact-form-left-sidebar{
	float: left;
	width: 40%;
}
.contact-form{
	float: right;
	width: 60%;
}

.cfls-logo{
	margin-bottom: 40px;
}
.cfls-logo a{
	display: inline-block;
	vertical-align: baseline;
}

.cfls-adress{
	padding-bottom: 40px;
}
.cfls-phone{
	padding-bottom: 60px;
}
.cfls-adress a,
.cfls-email a,
.cfls-phone a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	line-height: 2;
	font-weight: 700;
	color: #F3EFEB;
	padding-left: 28px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	position: relative;
}
.cfls-adress a:hover,
.cfls-email a:hover,
.cfls-phone a:hover{
	color: #B78454;
}
.cfls-adress a i,
.cfls-email a i,
.cfls-phone a i{
	position: absolute;
	top: 0px;
	left: 0;
}



.cfls-img{
	min-height: 422px;
	border-radius: 20px;
	opacity: 0.9;
	margin-right: 100px;
}

.contact-form-entry-hdr{
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.contact-form-entry-hdr-title{
	display: block;
	font-size: 48px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: normal;
	text-transform: capitalize;
}




.lam-contact-form-inr{
	padding-top: 50px;
}

.contact-form-sec .wpforms-form .wpforms-field-container:after,
.contact-form-sec .wpforms-form .wpforms-field-container:before{
	content: "";
	display: table;
	clear: both;
}


.contact-form-sec .wpforms-field-container{
	margin-left: -14px!important;
	margin-right: -14px!important;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field{
	float: left;
	width: 50%;
	padding: 0 14px;
	padding-bottom: 25px;
	clear: inherit!important;

}
div.wpforms-container-full .wpforms-form .wpforms-error {
    margin-top: 10px !important;
    font-size: 14px !important;
}
.contact-form-sec .wpforms-form .wpforms-field-container .subjectField,
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field-textarea{
	width: 100%;
}


.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field label{
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	margin: 0 0 10px 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	text-transform: capitalize;
	color: #B78454;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field label.wpforms-error{
	color: #cc0000;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 64px;
	background: rgba(0,0,0,0.28);
	border: 1px solid transparent;
	box-sizing: border-box;
	padding: 20px 24px 20px;
	color: rgba(243,239,235,0.4);
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	border-radius: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea{
	width: 100%;
	height: 230px;
	background: rgba(0,0,0,0.28);
	box-sizing: border-box;
	color: rgba(243,239,235,0.4);
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	padding: 20px 24px;
	resize: none;
	border: 1px solid transparent;
	border-radius: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea:focus,
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color: #000;
}

.contact-form-sec .wpforms-form .wpforms-submit-container button{
	max-width: 200px;
	width: 100%;
	height: 56px;
	background: #DC6A2E !important;
	font-size: 16px !important;
	line-height: 18px;
	color: #F3EFEB!important;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
	padding: 20px 10px !important;
	border-radius: 30px;
	margin-top: 5px;
	border: 2px solid #DC6A2E !important;
}
.contact-form-sec .wpforms-form .wpforms-submit-container button:hover{
	background: transparent !important;
	color: #DC6A2E!important;
}

.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(243,239,235,0.4);
  opacity: 1;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(243,239,235,0.4);
  opacity: 1;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(243,239,235,0.4);
  opacity: 1;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder { /* Firefox 18- */
  color: rgba(243,239,235,0.4);
  opacity: 1;
}

.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(243,239,235,0.4);
  opacity: 1;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea::-moz-placeholder { /* Firefox 19+ */
  color: rgba(243,239,235,0.4);
  opacity: 1;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea:-ms-input-placeholder { /* IE 10+ */
  color: rgba(243,239,235,0.4);
  opacity: 1;
}
.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea:-moz-placeholder { /* Firefox 18- */
  color: rgba(243,239,235,0.4);
  opacity: 1;
}

.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-html.disclaimer {
    width: 100%!important;
    font-size: 14px;
}
.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-html.disclaimer a{
	color: #DC6A2E;
	text-decoration: underline;
}
.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-html.disclaimer a:hover{
	text-decoration: none;
}
.contact-table-sec{
	padding-top: 90px;
}


.contact-table-sec-item{
	padding-bottom: 90px;
}
.contact-table-title{
	display: block;
	font-size: 40px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: normal;
	color: #B78454;
}

.lam-table-ctlr{
	border: 4px solid rgba(255, 255, 255, 0.05);
	border-radius: 14px!important;
}
.contact-table-sec-item .table thead{
	background: rgba(166, 148, 143, 0.12);
}

.contact-table-sec-item .table thead th{
	padding: 0;
	border: none;
}
.contact-table-sec-item .table thead th:first-child{
	border-radius: 10px 0 0 0;
}
.contact-table-sec-item .table thead th:last-child{
	border-radius: 0 10px 0 0;
}
.contact-table-sec-item .table thead th span{
	display: block;
	font-size: 20px;
	font-weight: 700;
	padding: 25px 0 30px 0px;
	border: none;
}
.contact-table-sec-item .table thead th:first-child span{
	padding-left: 56px;
}


.contact-table-sec-item .table tbody td{
	padding: 0;
	border: none;
}
.contact-table-sec-item .table tbody td:first-child{
	padding-left: 56px;
}
.contact-table-sec-item .table tbody td:last-child{
	padding-right: 56px;
}
.contact-table-sec-item .table tbody td span{
	display: block;
	font-weight: normal;
	padding: 30px 20px 30px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.contact-table-sec-item .table tbody td span a{
	color: #F3EFEB;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.contact-table-sec-item .table tbody td span a:hover{
	color: #B78454;
}
.contact-table-sec-item .table tbody tr:last-child td span{
	border-bottom: none;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){
	.contact-form-sec {
	    padding: 130px 0 110px;
	}
	.contact-form-entry-hdr-title{
		font-size: 45px;
	}
	.contact-table-sec {
	    padding-top: 80px;
	}
	.contact-table-title{
		font-size: 37px;
	}
}
	

@media(max-width: 1199px){
	.contact-form-sec {
	    padding: 110px 0 100px;
	}
	.cfls-logo {
	    margin-bottom: 30px;
	}
	.cfls-phone {
	    padding-bottom: 45px;
	}
	.cfls-img {
	    margin-right: 50px;
	}
	.contact-form-entry-hdr-title {
	    font-size: 42px;
	    margin-bottom: 25px;
	}
	.contact-table-sec {
	    padding-top: 70px;
	}
	.contact-table-title {
	    font-size: 32px;
	    margin-bottom: 25px;
	}
	.contact-table-sec-item {
	    padding-bottom: 70px;
	}
}

@media(max-width: 991px){
	.contact-form-sec {
	    padding: 70px 0 80px;
	}
	.contact-form-left-sidebar {
	    width: 100%;
	}
	.contact-form {
	    width: 100%;
	    padding: 0 80px;
	}
	.cfls-logo {
	    margin-bottom: 25px;
	}
	.cfls-adress {
	    padding-bottom: 30px;
	}
	.cfls-phone {
	    padding-bottom: 30px;
	}
	.cfls-img{
		max-width: 350px;
		width: 100%;
		margin-bottom: 30px;
	}
	.contact-form-entry-hdr-title {
	    font-size: 38px;
	    margin-bottom: 20px;
	}
	.contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field {
	    width: 100%;
	}
	.contact-table-sec {
	    padding-top: 60px;
	}
	.contact-table-title {
	    font-size: 28px;
	    margin-bottom: 20px;
	}
	.contact-table-sec-item {
	    padding-bottom: 50px;
	}
	.contact-table-sec-item .table thead th:first-child span {
	    padding-left: 30px;
	}
	.contact-table-sec-item .table tbody td:first-child {
	    padding-left: 30px;
	}
	.contact-table-sec-item .table tbody td:last-child {
	    padding-right: 30px;
	}
	.contact-form-left-sidebar-inr{
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}
	.contact-form-entry-hdr{
		text-align: center;
	}
	
}

@media(max-width: 767px){
	.contact-form-entry-hdr-title {
	    font-size: 32px;
	}
	.contact-table-title {
	    font-size: 25px;
	}
	.lam-table-ctlr{
		overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.contact-form {
	    padding: 0 50px;
	}
}

@media(max-width: 575px){
	.contact-table-title {
	    font-size: 20px;
	}
	.contact-form {
	    padding: 0 30px;
	}

}

@media(max-width: 479px){
	.contact-form {
	    padding: 0 0px;
	}

}

@media(max-width: 359px){

}



