.olive-oil-name-sec{
	padding: 150px 0;
}
.olive-oil-name-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.olive-oil-name-fea-img{
	max-width: 47%;
	width: 100%;
	min-height: 466px;
	padding-right: 5px;
	border-radius: 20px;
}
.olive-oil-name-desc{
	max-width: 53%;
	width: 100%;
	padding-left: 45px;
}
.olive-oil-name-sub-title{
	font-size: 20px;
	font-family: 'Big Caslon';
	margin-bottom: 20px;
}
.olive-oil-name-sub-title-up{
	text-transform: uppercase;
	line-height: 40px;
}
.olive-oil-name-title{
	font-size: 60px;
	text-transform: capitalize;
	margin-bottom: 40px;
}
.olive-oil-name-desc > p{

}

.olive-oil-grid-items{

}
.olive-oil-grid-items-inr{
	padding: 63px 20px 33px 20px;
	border-radius: 10px;
	background: rgba(166, 148, 143, 0.12);
	display: flex;
	align-items: center;
}
.olive-oil-grid-items-inr > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.olive-oil-grid-items-inr > ul > li{
	width: 25%;
	padding: 0 20px;
	margin-bottom: 15px;
}
.olive-oil-grid-item{
	text-align: center;
}
.olive-oil-grid-item-img{
	margin-bottom: 20px;
}
.olive-oil-grid-item-title{
	font-size: 30px;
	margin-bottom: 15px;
}
.olive-oil-grid-item >p{
	font-size: 14px;
}
.olive-lam-desc{
	padding: 80px 0 70px 0;
}
.olive-lam-desc-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.olive-lam-desc-fea-img{
	max-width: 51%;
	width: 100%;
	order: 2;
}
.olive-lam-inr-desc{
	max-width: 49%;
	width: 100%;
	order: 1;
}
.olive-lam-inr-desc-title{
	font-size: 48px;
	margin-bottom: 20px;
}
.olive-lam-inr-desc ul{
	padding-top: 20px;
}
.google-map-cntlr{
	position: relative;
	z-index: 1;
}
.google-map-bg{
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-background: radial-gradient(50.43% 58.1% at 52.95% 38.84%, rgba(46, 35, 35, 0) 0%, rgba(37, 27, 28, 0.27) 0.01%, #251B1C 100%);
	-ms-background: radial-gradient(50.43% 58.1% at 52.95% 38.84%, rgba(46, 35, 35, 0) 0%, rgba(37, 27, 28, 0.27) 0.01%, #251B1C 100%);
	-moz-background: radial-gradient(50.43% 58.1% at 52.95% 38.84%, rgba(46, 35, 35, 0) 0%, rgba(37, 27, 28, 0.27) 0.01%, #251B1C 100%);
	background: radial-gradient(50.43% 58.1% at 52.95% 38.84%, rgba(46, 35, 35, 0) 0%, rgba(37, 27, 28, 0.27) 0.01%, #251B1C 100%);
}
.map-side-add{
    position: absolute;
    left: 13%;
    max-width: 300px;
    width: 100%;
    top: 165px;
    z-index: 11;
}
.map-side-add .cfls-logo{
	margin-bottom: 32px;
}
.map-side-add .cfls-logo{
	margin-bottom: 32px;
}



/* responsive */
@media(max-width: 1599px){
	
}
@media(max-width: 1499px){
	
}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.olive-oil-name-sec{
		padding: 120px 0;
	}
	.olive-oil-grid-items-inr{
		padding-left: 10px;
		padding-right: 10px;
	}
	.olive-oil-grid-items-inr > ul > li{
		padding: 0 15px;
	}
	.olive-lam-desc{
		padding: 65px 0 60px 0;
	}
}
@media(max-width: 991px){
	.olive-oil-name-sec{
		padding: 100px 0 85px 0;
	}
	.olive-oil-name-fea-img{
		padding-right: 0;
		min-height: 420px;
	}
	.olive-oil-name-desc{
		padding-left: 40px;
	}
	.olive-oil-name-sub-title{
		margin-bottom: 17px;
	}
	.olive-oil-name-title{
		margin-bottom: 32px;
		font-size: 55px;
	}
	.olive-oil-grid-items-inr > ul > li{
		width: 33.33%;
	}
	.olive-lam-desc{
		padding: 55px 0 45px 0;
	}
	.olive-lam-inr-desc-title{
		font-size: 45px;
	}
}
@media(max-width: 767px){
	.olive-oil-name-sec{
		padding: 75px 0 55px 0;
	}
	.olive-oil-name-fea-img{
		max-width: 100%;
		margin-bottom: 30px;
	}
	.olive-oil-name-desc{
		max-width: 100%;
		padding: 0;
	}
	.olive-oil-name-sub-title{
		margin-bottom: 13px;
	}
	.olive-oil-name-title{
		margin-bottom: 25px;
		font-size: 50px;
	}
	.olive-oil-grid-items-inr{
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.olive-oil-grid-items-inr > ul > li{
		width: 50%;
	}
	.olive-oil-grid-item-title{
		font-size: 27px;
	}
	.olive-lam-desc-fea-img {
		max-width: 100%;
		order: initial;
	}
	.olive-lam-inr-desc {
		max-width: 100%;
		order: initial;
	}
	.olive-lam-inr-desc-title{
		font-size: 40px;
	}
	.olive-lam-inr-desc ul{
		padding: 10px 0 0 0;
	}

}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	.olive-oil-name-title{
		font-size: 40px;
	}
	.olive-oil-grid-items-inr{
		padding-left: 0;
		padding-right: 0;
	}
	.olive-oil-grid-items-inr > ul > li{
		width: 100%;
		padding: 0;
	}
	.olive-oil-grid-items-inr > ul > li .olive-oil-grid-item {
		max-width: 380px;
		width: 100%;
		margin: auto;
	}
	.olive-oil-grid-item-title{
		font-size: 25px;
	}
	.olive-lam-inr-desc-title{
		font-size: 35px;
		margin-bottom: 15px;
	}
	.olive-lam-inr-desc ul{
		padding: 0;
	}
}
@media(max-width: 479px){
	
}
@media(max-width: 359px){
	
}