.olive-oil-name-sec{
	padding: 150px 0;
}
.olive-oil-name-inr{
	display: flex;
	align-items: center;
}
.olive-oil-name-fea-img{
	max-width: 47%;
	width: 100%;
	min-height: 466px;
	padding-right: 5px;
	border-radius: 20px;
}
.olive-oil-name-desc{
	max-width: 53%;
	width: 100%;
	padding-left: 45px;
}
.olive-oil-name-sub-title{
	font-size: 20px;
	font-weight: 500;
	font-family: 'Big Caslon';
	margin-bottom: 20px;
}
.olive-oil-name-sub-title-up{
	text-transform: uppercase;
	line-height: 40px;
}
.olive-oil-name-title{
	font-size: 60px;
	line-height: 1;
	text-transform: capitalize;
	margin-bottom: 40px;
}
.olive-oil-name-desc > p{

}

.olive-oil-grid-items{

}
.olive-oil-grid-items-inr{
	padding: 63px 10px 33px 10px;
	border-radius: 10px;
	background: rgba(166, 148, 143, 0.12);
	display: flex;
	align-items: center;
}
.olive-oil-grid-items-inr > ul{
	display: flex;
	flex-wrap: wrap;
}
.olive-oil-grid-items-inr > ul > li{
	width: 25%;
	padding: 0 5px;
	margin-bottom: 15px;
}
.olive-oil-grid-items-inr > ul > li:first-child{
	padding-left: 0;
}
.olive-oil-grid-items-inr > ul > li:last-child{
	padding-right: 0;
}
.olive-oil-grid-item{
	text-align: center;
}
.olive-oil-grid-item-img{
	margin-bottom: 20px;
}
.olive-oil-grid-item-title{
	font-size: 30px;
	line-height: 1;
	margin-bottom: 18px;
}
.olive-oil-grid-item >p{
	font-size: 14px;
}
.olive-lam-desc{

}
.olive-lam-desc-inr{
	display: flex;
	align-items: center;
}
.olive-lam-desc-fea-img{
	max-width: 51%;
	width: 100%;
	order: 2;
}
.olive-lam-inr-desc{
	max-width: 49%;
	width: 100%;
	order: 1;
}
.olive-lam-inr-desc-title{
	font-size: 48px;
	line-height: 1;
	margin-bottom: 20px;
}
.olive-lam-inr-desc ul{
	padding-top: 20px;
}
.google-map-cntlr{
	position: relative;
	z-index: 1;
}
.google-map-bg{
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-background: radial-gradient(50.43% 58.1% at 52.95% 38.84%, rgba(46, 35, 35, 0) 0%, rgba(37, 27, 28, 0.27) 0.01%, #251B1C 100%);
	-ms-background: radial-gradient(50.43% 58.1% at 52.95% 38.84%, rgba(46, 35, 35, 0) 0%, rgba(37, 27, 28, 0.27) 0.01%, #251B1C 100%);
	-moz-background: radial-gradient(50.43% 58.1% at 52.95% 38.84%, rgba(46, 35, 35, 0) 0%, rgba(37, 27, 28, 0.27) 0.01%, #251B1C 100%);
	background: radial-gradient(50.43% 58.1% at 52.95% 38.84%, rgba(46, 35, 35, 0) 0%, rgba(37, 27, 28, 0.27) 0.01%, #251B1C 100%);
}
.map-side-add{
    position: absolute;
    left: 3%;
    max-width: 300px;
    width: 100%;
    top: 165px;
    z-index: 11;
}
.map-side-add .cfls-logo{
	margin-bottom: 32px;
}
.map-side-add .cfls-logo{
	margin-bottom: 32px;
}