.wines-pages{

}
.wines-pages-inr{
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 68px 0 53px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.wines-pages-inr > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.wines-pages-inr > ul > li{
	padding: 0 32px;
	margin-bottom: 15px;
}
.wines-pages-inr > ul > li > a{
	color: #A6948F;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	text-transform: capitalize;
}
.wines-pages-inr > ul > li > a:hover,
.wines-pages-inr > ul > li.active a{
	color: #DC6A2E;
}
.wines-pages-inr > ul > li:nth-child(2) > a:hover,
.wines-pages-inr > ul > li:nth-child(2).active a{
	color: #f5e6d1;
}
.wines-pages-inr > ul > li:nth-child(3) > a:hover,
.wines-pages-inr > ul > li:nth-child(3).active a{
	color: #01628f;
}
.wines-pages-inr > ul > li:nth-child(4) > a:hover,
.wines-pages-inr > ul > li:nth-child(4).active a{
	color: #d7538f;
}
.lam-wines-section{
	padding: 145px 0 165px 0;
	position: relative;
}
.lam-wines-bg-color{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: linear-gradient(360deg, rgba(46, 35, 35, 0) -36.24%, rgba(37, 27, 28, 0.27) -36.22%, #251B1C 97.67%);
}
.lm-wn-gdrs .lm-wn-gdrs-item{
	display: flex;
	align-items: center;
}
.lm-wn-gdrs-item .hm-grd-item-fea-img{
	order: 2;
}
.lm-wn-gdrs-item .hm-grd-item-des{
	order: 1;
}
.lm-wn-gdrs-item-desc .hmgid-title{
	line-height: 1;
	margin-bottom: 20px;
}
.lm-wn-gdrs-item-desc .hmgid-sub-title{
	line-height: 1;
	margin-bottom: 5px;
}
.wines-grid-sec{
	padding-bottom: 80px;
	position: relative;
}
.wines-grid-lines-top{
	z-index: 1;
	position: absolute;
	height: 1042px;
    top: 621px;
	left: 0;
	right: 0;
	background: url('../images/lines-v2.svg');
	background-repeat: repeat-x;
}
.wines-grid-lines-btm{
	z-index: 1;
	position: absolute;
    height: 1150px;
    bottom: 950px;
	left: 0;
	right: 0;
	background: url('../images/lines-v2.svg');
	background-repeat: repeat-x;
}
.wines-grid-cntlr{
	z-index: 2;
	position: relative;
}
.wines-grid-cntlr > ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.wines-grid-cntlr > ul > li:before{
	content: none;
}
.wines-grid-cntlr > ul > li{
	padding: 0;
	margin: 50px 0;
}
.wines-grid-item{
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
.wines-grid-item-fea-img{
	max-width: 50%;
	width: 100%;
	order: 1;
}
.wines-grid-item-desc{
	max-width: 50%;
	width: 100%;
	padding: 0;
	order: 2;
}
.wines-grid-cntlr > ul > li:nth-child(2n+2) .wines-grid-item-fea-img{
	order: 2;
}
.wines-grid-cntlr > ul > li:nth-child(2n+2) .wines-grid-item-desc{
	order: 1;
}
.wines-grid-item-desc > p:nth-of-type(1){
	margin-bottom: 40px;
}
.wines-grid-item-desc > p:nth-of-type(2){
	margin-bottom: 25px;
}
.wines-grid-item-sub-title{
    margin-bottom: 24px;
}
.wines-grid-item-title{
	font-size: 60px;
	margin-bottom: 32px;
}
.wines-grid-item-desc > p >strong{
	font-weight: 700;
}
.wines-grid-blockquote{
	padding: 90px 0 75px 65px;
	border: 4px solid rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}
.wines-grid-blockquote blockquote{
	margin-bottom: 0;
}
.wines-grid-blockquote p{
	font-size: 30px;
}

/* responsive */
@media(max-width: 1399px){

}
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	.lam-wines-section{
		padding: 120px 0 130px 0;
	}
	.wines-grid-item-title{
		font-size: 52px;
		margin-bottom: 28px;
	}
	.wines-grid-item-desc > p:nth-of-type(1){
		margin-bottom: 30px;
	}
}
@media(max-width: 991px){
	.wines-pages-inr > ul > li{
		padding: 0 17px;
	}
	.wines-pages-inr > ul > li > a{
		font-size: 19px;
	}
	.lm-wn-gdrs-item-desc .hmgid-title{
		font-size: 67px;
	}
	.wines-grid-blockquote > blockquote > p > br{
		display: none;
	}
	.lam-wines-section{
		padding: 100px 0 100px 0;
	}
	.wines-grid-item-sub-title{
		margin-bottom: 20px;
	}
	.wines-grid-item-title{
		font-size: 46px;
	    margin-bottom: 25px;
	}
	.wines-grid-item-desc > p:nth-of-type(1){
		margin-bottom: 20px;
	}
	.wines-grid-item-desc > p:nth-of-type(2){
		margin-bottom: 10px;
	}
	.wines-grid-item-desc > ul > li{
		padding: 3px 0 18px 35px;
	}
	.wines-grid-blockquote{
	    padding: 70px 0 65px 50px;
	}
	.wines-grid-blockquote blockquote i svg{
		width: 90px;
		height: 85px;
	}
	.wines-grid-blockquote p{
		font-size: 25px;
	}
}
@media(max-width: 767px){
	.wines-pages-inr > ul > li{
		width: 50%;
		text-align: center;
	}
	.wines-pages-inr > ul > li > a{
		font-size: 20px;
	}
	.lam-wines-section{
		padding: 80px 0 80px 0;
	}
	.wines-grid-item-title{
		font-size: 43px;
	}
	.lm-wn-gdrs .lm-wn-gdrs-item{
		display: block;
	}
	.wines-grid-sec{
		padding-bottom: 30px;
	}
	.lm-wn-gdrs-item .hm-grd-item-fea-img{
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	.lm-wn-gdrs-item .hm-grd-item-fea-img div{
		border-radius: initial;
	}
	.lm-wn-gdrs-item .hm-grd-item-des{
		width: 100%;
	}
	.wines-grid-item{
		display: block;
		margin-bottom: 20px;
	}
	.wines-grid-item-fea-img{
		max-width: 100%;
	}
	.wines-grid-item-desc{
		max-width: 100%;
	}
	.wines-grid-item-sub-title{
		margin-bottom: 17px;
	}
	.wines-grid-blockquote{
	    padding: 55px 10px 50px 35px;
	}
	.wines-grid-blockquote blockquote i svg{
		width: 80px;
		height: 75px;
	}
	.wines-grid-blockquote p{
		font-size: 20px;
	}

}
@media(max-width: 649px){
	.wines-pages-inr{
		padding: 50px 0 35px 0;
	}
	.wines-pages-inr > ul > li{
		width: 100%;
		padding: 0;
	}
}
@media(max-width: 575px){
	.wines-grid-item-title{
		font-size: 40px;
		margin-bottom: 20px;
	}
	.wines-grid-item-sub-title{
		margin-bottom: 10px;
	}
	.wines-grid-blockquote{
	    padding: 45px 10px 40px 20px;
	}
	.wines-grid-item{
		margin-bottom: 10px;
	}
}
@media(max-width: 479px){
	.lm-wn-gdrs-item-desc .hmgid-title{
		font-size: 55px;
	}
	.wines-grid-item-title{
		font-size: 37px;
	}
}
@media(max-width: 359px){
	
}