.wines-pages{

}
.wines-pages-inr{
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 68px 0 53px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.wines-pages-inr > ul{
	display: flex;
	flex-wrap: wrap;
}
.wines-pages-inr > ul > li{
	padding: 0 32px;
	margin-bottom: 15px;
}
.wines-pages-inr > ul > li > a{
	color: #A6948F;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	text-transform: capitalize;
}
.wines-pages-inr > ul > li > a:hover,
.wines-pages-inr > ul > li.active a{
	color: #DC6A2E;
}
.wines-pages-inr > ul > li:nth-child(2) > a:hover,
.wines-pages-inr > ul > li:nth-child(2).active a{
	color: #f5e6d1;
}
.wines-pages-inr > ul > li:nth-child(3) > a:hover,
.wines-pages-inr > ul > li:nth-child(3).active a{
	color: #01628f;
}
.wines-pages-inr > ul > li:nth-child(4) > a:hover,
.wines-pages-inr > ul > li:nth-child(4).active a{
	color: #d7538f;
}
.lam-wines-section{
	padding: 145px 0 65px 0;
	position: relative;
}
.lam-wines-bg-color{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: linear-gradient(360deg, rgba(46, 35, 35, 0) -36.24%, rgba(37, 27, 28, 0.27) -36.22%, #251B1C 97.67%);
}
.hm-grds .hm-grd-item{
	display: flex;
	align-items: center;
}
.hm-grd-item-fea-img{
	order: 2;
}
.hm-grd-item-des{
	order: 1;
}
.hm-grd-item-des .hmgid-title{
	line-height: 1;
	margin-bottom: 20px;
}
.hm-grd-item-des .hmgid-sub-title{
	line-height: 1;
	margin-bottom: 5px;
}
.wines-grid-sec{
	padding-bottom: 80px;
	position: relative;
}
.wines-grid-lines-top{
	z-index: 1;
	position: absolute;
	height: 1042px;
    top: 621px;
	left: 0;
	right: 0;
	background: url('../images/lines-v2.svg');
	background-repeat: repeat-x;
}
.wines-grid-lines-btm{
	z-index: 1;
	position: absolute;
    height: 1150px;
    bottom: 950px;
	left: 0;
	right: 0;
	background: url('../images/lines-v2.svg');
	background-repeat: repeat-x;
}
.wines-grid-cntlr{
	z-index: 2;
}
.wines-grid-cntlr > ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.wines-grid-cntlr > ul > li:before{
	content: none;
}
.wines-grid-cntlr > ul > li{
	padding: 0;
	margin: 50px 0;
}
.wines-grid-item{
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
.wines-grid-item-fea-img{
	max-width: 50%;
	width: 100%;
	order: 1;
}
.wines-grid-item-desc{
	max-width: 50%;
	width: 100%;
	padding: 0;
	order: 2;
}
.wines-grid-cntlr > ul > li:nth-child(2n+2) .wines-grid-item-fea-img{
	order: 2;
}
.wines-grid-cntlr > ul > li:nth-child(2n+2) .wines-grid-item-desc{
	order: 1;
}
.wines-grid-item-desc > p:nth-of-type(1){
	margin-bottom: 40px;
}
.wines-grid-item-desc > p:nth-of-type(2){
	margin-bottom: 25px;
}
.wines-grid-item-sub-title{
    margin-bottom: 24px;
}
.wines-grid-item-title{
	font-size: 60px;
	margin-bottom: 32px;
}
.wines-grid-item-desc > p >strong{
	font-weight: 700;
}
.wines-grid-blockquote{
	padding: 90px 0 75px 65px;
	border: 4px solid rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}
.wines-grid-blockquote blockquote{
	margin-bottom: 0;
}
.wines-grid-blockquote p{
	font-size: 30px;
}